<div class="pmContainer">
    <div class="pagemarker">
        <div class="pagemarker1A5hc" [ngStyle]="{backgroundColor: detailsdata.detailOptions.pagemarker1Color}">
            @if(detailsdata.detailOptions.pmStripes == true) {
            <div class="pmStripe"></div>
            <div class="pmStripe"></div>
            }
        </div>
        <div class="pagemarker2A5hc" [ngStyle]="{backgroundColor: detailsdata.detailOptions.pagemarker2Color}">
        </div>
    </div>

    <div class="pagemarker">
        <div class="pagemarker2A5hc" [ngStyle]="{backgroundColor: detailsdata.detailOptions.pagemarker2Color}">
        </div>
        <div class="pagemarker1A5hc" [ngStyle]="{backgroundColor: detailsdata.detailOptions.pagemarker1Color}">
            @if(detailsdata.detailOptions.pmStripes == true) {
            <div class="pmStripe"></div>
            <div class="pmStripe"></div>
            }
        </div>

    </div>
</div>